.container {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	flex-direction: column;
	gap: var(--generic-spacer);
}

.chart {
	width: 100%;
	aspect-ratio: 16 / 9;
	max-height: 300px;
}
