:root {
	--generic-spacer: 32px;
}
@media all and (max-width: 480px) {
	:root {
		--generic-spacer: 16px;
	}
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	background-color: #1d1e22;
	color: #fff;
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
	overflow-x: hidden;
}

body {
	padding: var(--generic-spacer);
}

main {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

p {
	padding: 0;
	margin: var(--generic-spacer) 0;
}
p.subtle {
	opacity: 0.5;
}

form {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 12px;
	padding: 16px;

	.row {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		gap: 16px;
	}
	.row + .row {
		margin-top: 8px;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		padding-top: 8px;
	}

	.separator {
		flex: 1;
		min-width: 0;
	}

	.value {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		gap: 8px;
		white-space: nowrap;
	}
}

.table-scroller {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 12px;
	padding: 16px;
	width: 100%;
	overflow: auto;
	position: relative;
}

table {
	min-width: 100%;
	font-family: monospace;
	text-wrap: nowrap;

	:where(th, td) {
		text-align: left;
		padding: 0 8px;
	}

	tr:not(:first-child) :where(th, td) {
		border-top: 1px solid rgba(255, 255, 255, 0.1);
	}

	tr:hover {
		background: rgba(255, 255, 255, 0.05);
	}
}

input {
	width: 80px;
	outline: none;
	appearance: none;
	border: 1px solid transparent;
	background-color: #1d1e22;
	color: #fff;
	padding: 4px;
	border-radius: 4px;
	font-family: inherit;
	line-height: 1;
}
input:focus {
	border-color: #fff;
}

:where(p, h1, h2, h3, h4, h5, h6):first-child {
	margin-top: 0;
}
:where(p, h1, h2, h3, h4, h5, h6):last-child {
	margin-bottom: 0;
}

.chart-tooltip {
	width: 240px;
	padding: 16px;
	background: #000;
	border-radius: 12px;

	p {
		margin: 0 0 4px 0;
		font-weight: 700;
	}

	.line {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: 4px 0;
	}
	.line + .line {
		border-top: 1px solid rgba(255, 255, 255, 0.2);
	}

	.label {
		opacity: 0.8;
	}
}
