* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	background-color: #1d1e22;
	color: #fff;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
}

body {
	padding: 32px;
	overflow: auto;
}

main {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

p {
	padding: 0;
	margin: 24px 0;
}

form {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 12px;
	padding: 16px;
	margin-top: 32px;

	.row {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		gap: 16px;
	}
	.row + .row {
		margin-top: 8px;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		padding-top: 8px;
	}

	.separator {
		flex: 1;
		min-width: 0;
	}

	.value {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		gap: 8px;
	}
}

.table-scroller {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 12px;
	padding: 16px;
	margin-top: 32px;
	width: 100%;
	overflow: auto;
}

table {
	min-width: 100%;
	font-family: monospace;
	text-wrap: nowrap;

	:where(th, td) {
		text-align: left;
		padding: 0 8px;
	}
	tr:not(:first-child) :where(th, td) {
		border-top: 1px solid rgba(255, 255, 255, 0.1);
	}
	tr:hover {
		background: rgba(255, 255, 255, 0.05);
	}
}

input {
	outline: none;
	appearance: none;
	border: 1px solid transparent;
	background-color: #1d1e22;
	color: #fff;
	padding: 4px;
	border-radius: 4px;
	font-family: inherit;
	line-height: 1;
}
input:focus {
	border-color: #fff;
}

:where(p, h1, h2, h3, h4, h5, h6):first-child {
	margin-top: 0;
}
:where(p, h1, h2, h3, h4, h5, h6):last-child {
	margin-bottom: 0;
}
