* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	background-color: #1d1e22;
	color: #fff;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
}

body {
	padding: 32px;
	overflow: auto;
}

main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

p {
	padding: 0;
	margin: 24px 0;
}

:where(p, h1, h2, h3, h4, h5, h6):first-child {
	margin-top: 0;
}
:where(p, h1, h2, h3, h4, h5, h6):last-child {
	margin-bottom: 0;
}
